# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Base de datos SQLite
database/*.db
database/*.db-journal
database/*.db-wal
database/*.db-shm

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
app.log
